.about-page {
    text-align: center;
    .resp {
        max-width: 100%;
        height: auto;
        max-height: 300px;
    }
    
    img{
    
        margin-top: 30px;
    }
    
    p.about-content{
        text-align: justify;
        font-family: "McLaren", cursive;
    }
}

