.story-wrapper{
    font-family:  "McLaren", cursive;

    p.story-content {
        margin-top: 40px;
        text-align: justify;
        line-height: 1.7;
    }
    
    p.story-signature {
        font-style: italic;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 30px;
        text-align: right;
    }
}

