.new-form-group {
    display: flex;
    flex-flow: column;
    padding: 0 15px;
    justify-content: center; 
    height: 80%;
    
    
    
    .new-form {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        transform: scale(0.8, 0.8);

        @media(min-width:960px){

            .new-form{
                margin-top: 40px;
            }
        }
        

        .title-container {
            width: 420px;
            
        }

        .textarea-container {
            margin-left: 30px;                        
            width: 620px;

            
        }
        

        @media (max-width:1196px) {
            .title-container,.textarea-container{
                width: 100%;
                margin: 0;
                text-align: center;
            }

            
        }
    }
    
}

