.form{
    background: #fbfcfc;    
    color:rgb(23, 40, 73);
    margin-top: 50px 20px;
    padding: 20px;
    /* box-shadow: 0px 0px 10px 3px rgb(154, 158, 163); */
    
    
}

.form label{
    margin-top: 1rem;
    font-family: "McLaren", cursive;
}

button {
    background: #93b5e0;
    color: white;
    
}

.container {
    height: 100%;
    padding: auto 2rem;
    /* position: relative;
    top: 72px; */
}

.form-control {
    margin-bottom: 0;
}

p {
    color: red;
    font-size: 10px;
}

.red{
    border-color: red;
}

input.form-control,
textarea.form-control{
    
    border-width: medium;
    
}