.row {
    text-align: center;
}


.container {
    height: 100%;
    background: #ffffff;    
    padding: 20px 20px 0;   
    // box-shadow: 5px 5px 5px -5px rgb(199, 195, 195);
}

.form-control {
    
    border: 0px;
    border-bottom: 0.5px solid #babadb;
    border-radius: 0;
  }


p.error-text{
    color: red;
    font-size: 10px;
    text-align: left;
}

.red{
    border-color: red;
}


@media (max-width: 577px){
 .form{
     box-shadow: none;
 }
}

::-webkit-input-placeholder,
::-webkit-texarea-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
  }
  :-ms-input-placeholder,
  :-ms-textarea-placeholder {
    /* IE 10+ */
    color: #c5ecfd;
  }

  textarea:hover, 
  input:hover, 
  textarea:active, 
  input:active, 
  textarea:focus, 
  input:focus,
  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:active,
  .btn.active
  {
      outline:0px !important;
      -webkit-appearance:none;
      box-shadow: none !important;
  }

  button{
    background: #5E25FF;
    color: #FFFFFF;    
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    color: transparent;
  }

  .col-md-6{
      text-align: center;
  }

  div.form-group{
    margin-bottom: 35px;
}

form{
    margin-top: 30px;
  }

  @media (min-width: 768px){  
    div.form-group{
        margin-bottom: 60px;
    }   
      
      button{
          margin:1rem 0;
      }
  }


   

  


