.form{
    background: #FFFFFF;    
    color:rgb(23, 40, 73);
    margin-top: 50px 20px;
    padding: 20px;
    text-align: left;
    box-shadow: 0px 0px 15px 4.5px rgb(225, 228, 231); 
    
    
}

.form label{
    margin-top: 1rem;
    text-decoration: none;
}

button {
    background: #93b5e0;
    color: white;
    
}

.container {
    height: 100%;
    padding: auto 2rem;
    /* position: relative;
    top: 72px; */
}

.form-control {
    margin-bottom: 0;
}

p.form-control {
    color: red;
    font-size: 10px;
}

.red{
    border-color: red;
}

input.form-control,
textarea.form-control{
       
    box-shadow: 0px 6px 10px 0px rgb(219, 224, 224);
    
} 

@media (max-width: 577px){
 .form{
     box-shadow: none;
 }
}