// .content-section {
    
//     margin: 7rem 3rem 0;        
//     text-align: center;
// }


// @media(max-width: 455px){
//     .content-section {
//         margin: 5rem 1rem 0 1rem; 
//     }
// }

body{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0 40px 0 40px;
}

@media(max-width:418px){
    body{
        padding: 0 15px 35px 15px;
    }
}

* {
    box-sizing: border-box;
}


