.content-section {
    margin: 3% 1rem;
    position: relative;
    top: 56px;
    height: max-content;
     
}

.footer {
    margin-top: 1rem;
    text-align: center;
    color: #acb1ac;
}

.App{
    height: inherit;
}

